.account {
		display: flex;
		align-items: center;
		gap: 24px;
		@include tablet {
				gap: 15px;
		}

	a{
		display: inline-block;
		transition: background-color 0.3s;
	}

		a:hover{
			background-color: var(--neutral-grayededed);
		}
}
.account__person{
	@include mobile {
			display: none;
	}
}
.account__menu{
	display: none;

	@include mobile {
			display: block;
	}
}

