.btn,
a.btn {
	display: inline-block;

	padding: 8px;
	min-width: 185px;
	height: 40px;

	background-color: var(--white);

	font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
	line-height: 171%;
	text-align: center;
	color: var(--black);

	transition: background-color 0.3s;

	&:hover {
		background-color: #e6e1e1;
	}

	@include mobile {
		padding: 8px 9px;
		min-width: unset;
	}

	&--small {
		min-width: unset;
		padding-left: 15px;
		padding-right: 15px;
	}

	&--mobile-wide {
		@include mobile {
			min-width: unset;
			width: 100%;
			text-align: left;
			padding: 8px 16px;
		}
	}
}


a.btn-outline, .btn-outline {
	display: inline-block;
	border: 1px solid var(--primary-primary-600);
	padding: 8px 16px;
	height: 40px;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;

	font-size: 14px;
	line-height: 170%;
	text-transform: capitalize;
	color: var(--primary-primary-600);

	transition: all 0.3s ease-in;
	
	&:hover{
		background-color: #bebcbc;
	}
}
