.footer {
	margin-top: 88px;
	padding: 24px 0;

	background-color: #000;
	font-size: 12px;
	color: var(--neutral-graycbcbcb);
	font-weight: 400;
	line-height: 180%;

	@include mobile {
			margin-top: 24px;
			padding: 8px 0;
	}
}

.footer__copyright {
}
