.mobile-nav {
	position: fixed;
	// top: 0;
	top: -100%;
	width: 100%;
	height: 100%;
	z-index: 99;

	overflow-y: auto;

	padding: 106px 20px 56px;

	display: flex;
	flex-direction: column;

	background-color: #fff;
	transition: all 0.2s ease-in;
}

.mobile-nav--open {
	top: 0;
}

.mobile-nav a {
	color: #000;
}

.mobile-nav__links {
	margin-bottom: 84px;
}

.mobile-links {
	display: grid;
	gap: 32px;
}

.mobile-links__parent {
	border-bottom: 1px solid #000;
}

.mobile-links__parent-btn {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.mobile-links__parent-title {
	font-size: 14px;
	line-height: 180%;
	text-transform: capitalize;
	color: #000;
}

.mobile-links__parent-btn__icon{
	transition: all 0.3s ease-in;
	
}

.active .mobile-links__parent-btn__icon{
	transform: rotate(-180deg);
}

.mobile-nav__btns {
}

.mobile-sub{
	max-height: 0;
	overflow: hidden;
	transition: all 0.3s ease-in;
	
}

.mobile-sub-list {
	display: grid;
	gap: 16px;
	padding: 24px 0 16px 35px;

	// max-height: 0;
	// overflow: hidden;
}

.mobile-sub-list__item {
	font-size: 14px;
	line-height: 180%;
	text-transform: capitalize;
	color: var(--neutral-gray404040);
}

.mobile-sub-list__link {
	display: inline-block;
	color: var(--neutral-gray404040);
	padding-top: 7px;
	width: 100%;

	// &:hover{
	// 	text-decoration: underline;
	// 	color: #000;
	// }
}


.mobile-nav__btns {
	border-top: 1px solid var(--neutral-graycbcbcb);
	padding-top: 14px;
	margin-top: auto;

	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 16px;
}

.icon {
}
.icon--person {
}
